.container {
    max-width: 800px !important;
}

.pricing-header {
    max-width: 800px !important;
}

.text-highlight {
    position: relative;
}

.text-highlight:after {
    content: "";
    height: 3px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 5px;
    background: #0d6efd;
}

.marker {
    position: relative;
    display: inline;
    width: auto;
}

.marker:after {
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -25px;
    right: -30px;
    background-image: url("../svg/marker.svg");
    background-repeat: no-repeat;
}

.mode-toggle {
    height: 48px;
    width: 48px;
    position: fixed;
    right: 0px;
    top: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px 0px 0px 8px;
}

.cursor-pointer {
    cursor: pointer;
}
