.container {
    max-width: 960px !important;
}

.pricing-header {
    max-width: 700px !important;
}

.marker {
    position: relative;
    display: inline;
    width: auto;
}

.marker:after {
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -25px;
    right: -30px;
    background-image: url("../svg/marker.svg");
    background-repeat: no-repeat;
}
