.container {
    max-width: 960px !important;
}

.pricing-header {
    max-width: 700px !important;
}

.text-highlight {
    position: relative;
}

.text-highlight:after {
    content: "";
    height: 3px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 5px;
    background: #0d6efd;
}

.marker {
    position: relative;
    display: inline;
    width: auto;
}

.marker:after {
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -25px;
    right: -30px;
    background-image: url("../svg/marker.svg");
    background-repeat: no-repeat;
}
